streamlit
langchain
langchain-community
langchain-core
langchain-groq
langchain-openai
sentence-transformers
pandas
python-dotenv
python-docx
PyMuPDF
Pillow
pytesseract
openpyxl
onnxruntime
langchain-huggingface
faiss-cpu
